<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/layout.css">
    {% block style %} 
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/signify.png" type="image/x-icon">
    <title>Signify</title>
</head>
<body>
    <nav>
        <a href="/">
            <h4>Signify</h4>
        </a>
        <a href="/QuienesSomos">
            <h4>¿Quienes somos?</h4>
        </a>
        <a href="/register">
            <h4>Registrate</h4>
        </a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <h3>Signify ©</h3>
        <h4>Elaborado por el equipo papa</h4>
    </footer>
</body>
</html>