{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="../static/quienesSomos.css">
{% endblock %}
{% block content %}
<main>
        <h1>¡Conoce al equipo!</h1>
        <div class="equipo">
            <section>
                <img src="../static/user_icon.png" alt="">
                <h2>Elo Moca</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam eget sem scelerisque efficitur. Integer sed ullamcorper elit.   
                </p>
                <button class="contacto">Contacto</button>
            </section>
            <section>
                <img src="../static/user_icon.png" alt="">
                <h2>Leyan</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam eget sem scelerisque efficitur. Integer sed ullamcorper elit.   
                </p>
                <button class="contacto">Contacto</button>
            </section>
            <section>
                <img src="../static/user_icon.png" alt="">
                <h2>Lia</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam eget sem scelerisque efficitur. Integer sed ullamcorper elit.   
                </p>
                <button class="contacto">Contacto</button>
            </section>
            <section>
                <img src="../static/user_icon.png" alt="">
                <h2>Oto</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam eget sem scelerisque efficitur. Integer sed ullamcorper elit.   
                </p>
                <button class="contacto">Contacto</button>
            </section>
            <section>
                <img src="../static/user_icon.png" alt="">
                <h2>Isaac</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam eget sem scelerisque efficitur. Integer sed ullamcorper elit.   
                </p>
                <button class="contacto">Contacto</button>
            </section>
        </div>
    </main>
{% endblock %}